<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BankIFSCDetails.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7583955C1DBD6B60007BFCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>758395751DBD6B61007BFCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>758395801DBD6B61007BFCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
